@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
}
:root {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: white;
}

body {
  background: #29335c;
  background-size: cover;
}

h1 {
  color: white;
  font-family: "Baloo Bhai", cursive;
  font-size: 7rem;
}

.header {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  width: 100%;
}

#reset-game {
  margin: auto 0;
}

.heading {
  font-size: 2.7rem;
  font-family: "Baloo Bhai", cursive;
}

.text-container {
  width: 30%;
  padding: 50px;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
}

.versing {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
}

.game-container {
  width: 70%;
}
.grid {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  vertical-align: center;
  width: 40rem;
  height: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-templaterows: 1fr 1fr 1fr;
  grid-gap: 2px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 17px 50px;
}

.space {
  background-color: white;
  transition: background-color 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.space:hover {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s;
  cursor: pointer;
}

.x,
.o {
  font-family: "arial";
  font-size: 70px;
  position: absolute;
}

.x {
  color: tomato;
}

.o {
  color: #33dbff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  :root {
    font-size: 6px;
  }
  .container {
    flex-direction: column;
  }
  .text-container {
    width: 80%;
    padding: 50px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  :root {
    font-size: 7px;
  }
  .text-container {
    width: 80%;
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  :root {
    font-size: 8px;
  }
  .container {
    flex-direction: row;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  :root {
    font-size: 9px;
  }
  .container {
    flex-direction: row;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  :root {
    font-size: 10px;
  }
  .container {
    flex-direction: row;
  }
}
